/* styles/Panel.css */
.Panel {
  @apply bg-white mx-auto;
}

.PanelCharts {
  /* @apply overflow-x-auto; */
}

.Td {
  @apply text-center p-4;
}

.tdName {
  @apply text-gray-900 font-bold;
}

.red {
  @apply bg-primary-600 text-white p-2 rounded shadow-sm;
}

.black {
  @apply bg-black text-white p-2 rounded;
}

.position {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.Wet {
  @apply text-primary-600 font-bold;
}

table {
  @apply w-full border-collapse;
}

thead th {
  @apply text-white p-2 border border-primary-200 bg-primary-600;
}

tbody td {
  @apply text-center border border-gray-300 text-gray-900;
}

/* New styles for the icon button */
.fixed-button {
  @apply fixed bottom-10 right-10 text-white p-3 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-50;
  z-index: 1000;
  background-color: #F97316
}

.fixed-button:hover {
  background-color: #EA580C
}

.icon-size {
  @apply h-6 w-6;
}
